{% extends "layout.html" %}
{% block script %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
        
    const speech = new webkitSpeechRecognition();
    speech.lang = 'ja-JP';

    const btn = document.getElementById('btn');
    const content = document.getElementById('place');
    const org = document.getElementById('org');

    btn.addEventListener('click' , function() {
        // 音声認識をスタート
        speech.start();
    });    

    namespace = '/demo'; //main.pyで指定したnamespace
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

    //テキストエリアはこちらで受信。main.py側からmy_content宛に送られたデータを受け取る
    socket.on('my_content', function(msg) {
        $('#place').empty();
        $('#place').append(msg.data); // <div id="place"></div>内に、受け取ったdataを挿入
        
        const uttr = new SpeechSynthesisUtterance(msg.data)
        uttr.lang = "en-US"
        //speechSynthesis.speak(uttr)
        
        setTimeout(function(){
            //$('#place').empty();
        }, 10000);
    });

    speech.onresult = function(e) {
        speech.stop();
        if(e.results[0].isFinal){
            var autotext =  e.results[0][0].transcript
            console.log(e);
            console.log(autotext);
            socket.emit('receive_content', {data: autotext});
            $('#org').empty();
            org.innerHTML += '<div>'+ autotext +'</div>';
        }

    speech.onend = () => { 
    speech.start() 
    };
};
});

</script>

{% endblock %}

{% block body %}

<font size="5"><div id="org"><span style="color:black" >日本語</span></div></font>
<font size="4"><span style="color:rgb(108, 81, 138)"><div id="place">English Subtitle</div></span></font>
<br><br><br>
<button id="btn">start</button>

{% endblock %}