{% extends "layout.html" %}
{% block script %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
        
    const speech = new webkitSpeechRecognition();
    speech.lang = 'ja-JP';

    const btn = document.getElementById('btn');
    const content = document.getElementById('place');

    btn.addEventListener('click' , function() {
        // 音声認識をスタート
        speech.start();
    });    

    namespace = '/demo'; //main.pyで指定したnamespace
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

    //カウントはこちらで受信。main.py側からmy_count宛に送られたデータを受け取る
    socket.on('my_count', function(msg) {
        $('.count').empty(); // <div class="count"></div>の中身を消し去ります。
        $('.count').append().html(msg.data); // <div class="count"></div>内に、受け取ったdataをhtmlで挿入します。
    });

    //テキストエリアはこちらで受信。main.py側からmy_content宛に送られたデータを受け取る
    socket.on('my_content', function(msg) {
        $('#place').empty();
        $('#place').append(msg.data); // <div id="place"></div>内に、受け取ったdataを挿入します。
        setTimeout(function(){
            $('#place').empty();
        }, 5000);
    });

    //htmlのフォームがsubmitされた時に、main.pyのreceive_content宛にテキストエリアのid="input_data"の値を送信します。
    // $('form#send_content').submit(function(event) {
    //     socket.emit('receive_content', {data: $('#input_data').val()});
    //     return false; //この意味はわからん
    // });

    speech.onresult = function(e) {
        speech.stop();
        if(e.results[0].isFinal){
            var autotext =  e.results[0][0].transcript
            console.log(e);
            console.log(autotext);
            socket.emit('receive_content', {data: autotext});
            // content.innerHTML += '<div>'+ autotext +'</div>';
        }

    speech.onend = () => { 
    speech.start() 
    };
};
});

</script>

{% endblock %}

{% block body %}
<!-- <div class="count"></div> -->
<!-- <form id="send_content" method="POST" action='#'>
    <input type="text" name="input_data" id="input_data" placeholder="Input content!">
    <input type="submit" value="送信">
</form> -->

<!-- <div id="content"></div> -->
<font size="5" color="red"><div id="place">testest</div></font>
<br><br><br>
<button id="btn">start</button>

{% endblock %}
